.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  background: var(--background, '#eeeeee');
}

.mat-toolbar {
  background: var(--headerbackground, rebeccapurple);
  color: white;
}
