<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a *ngIf="!token" mat-list-item href="/login">Login</a>
      <ng-container *ngIf="token">
        <a mat-list-item *ngIf="courseId" routerLink="course/{{ courseId }}"
          >Follow course</a
        >
        <a mat-list-item routerLink="/schools">Find school</a>
        <a *ngIf="token" mat-list-item (click)="logout()" href="#">Logout</a>

      </ng-container>
      <a mat-list-item routerLink="/theme">Edit Theme</a>
      <ng-container *ngIf="courseId && token">
        <tweet-course courseId="courseId"></tweet-course>
      </ng-container>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        Angular academy
      </button>
    </mat-toolbar>
    <router-outlet> </router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
